<div class="alert alert-block alert-info" style="margin-top: 20px">
 <a href="http://cocl.us/DA0101EN_NotbookLink_Top"><img src = "https://ibm.box.com/shared/static/fvp89yz8uzmr5q6bs6wnguxbf8x91z35.png" width = 750, align = "center"></a>
 <h1 align=center><font size = 5> Link</font></h1>

 <a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Data Analysis with Python</font></h1>

# Module 2 : Data Wrangling

# MODULO 2: Lucha de datos

**¡Bienvenidos!**

¡Al final de este cuaderno, habrás aprendido los conceptos básicos de Data Wrangling!

## Table of content

<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref1">Identify and handle missing values</a>
<ul><div><a href="#ref2">- Identify missing values</a></div>
<div><a href="#ref3">- Deal with missing values</a></div>
<div><a href="#ref4">- Correct data format</a></div></ul></li>
<p></p>
<li><a href="#ref5">Data standardization</a></li>
<li><a href="#ref6">Data Normalization (centring/scaling)</a></li>
<li><a href="#ref7">Binning</a></li>
<li><a href="#ref8">Indicator variable</a></li>
<p></p>
Estimated Time Needed: <strong>30 min</strong>
</div>
 
<hr>

# **¿Cuál es el propósito de la disputa de datos?**

Data Wrangling es el proceso de convertir datos del formato inicial a un formato que puede ser mejor para el análisis.

**¿Cuál es la tasa de consumo de combustible (L / 100k) para el automóvil diesel?**

**Datos de importacion**

Puede encontrar el "Conjunto de datos del automóvil" en el siguiente enlace: https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data. Utilizaremos este conjunto de datos a lo largo de este curso.

#### Import pandas

In [1]:
import pandas as pd

**Leer el conjunto de datos de la URL y agregar los encabezados relacionados.**

#### URL of dataset

In [2]:
filename = 'https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data'

Lista de encabezados **(headers)** de Python que contienen el nombre de los encabezados

In [3]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

Use el método Pandas **read_csv ()** para cargar los datos de la dirección web. Establezca el parámetro **"nombres"** igual a la lista de Python "encabezados" **(headers)**.

In [4]:
df = pd.read_csv(filename, names = headers)
print("Done")

Done

Use el método  **head ()** para mostrar las primeras cinco filas del marco de datos.

In [5]:
# To see what the data set looks like, we'll use the head() method.
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

Como podemos ver, varios signos de interrogación aparecieron en el marco de datos; esos son valores faltantes que pueden dificultar nuestro análisis posterior.
Entonces, ¿cómo identificamos todos esos valores perdidos y los tratamos?

**¿Cómo trabajar con datos faltantes?**

Pasos para trabajar con datos faltantes:

1.- dentificar datos faltantes / **identify missing data**
2.- tratar con datos faltantes / **deal with missing data**
3.- formato de datos correcto / **correct data format**


# **Identificar y manejar valores perdidos**

**Convertir "?" a NaN**
En el conjunto de datos del automóvil, los datos faltantes vienen con el signo de interrogación "?". Reemplazamos "?" con NaN (No es un número), que es el marcador de valor perdido predeterminado de Python, por razones de velocidad y conveniencia computacionales. Aquí usamos la función:

.replace (A, B, inplace = True)

para reemplazar A por B

In [ ]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

**Evaluación de datos faltantes**

Los valores faltantes se convierten al valor predeterminado de Python. Utilizamos las funciones integradas de Python para identificar estos valores faltantes. Hay dos métodos para detectar datos faltantes:

**.isnull()**
**.notnull()**

La salida es un valor booleano que indica si el valor que se pasa al argumento es de hecho datos faltantes.

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

**"true"** significa valor perdido, mientras que **"False"** significa valor no perdido.

**Cuente los valores faltantes en cada columna**

Usando un bucle **for** en Python, podemos calcular rápidamente el número de valores faltantes en cada columna. Como se mencionó anteriormente, **"true"** representa un valor faltante, **"False"** significa que el valor está presente en el conjunto de datos. En el cuerpo del bucle por, el método **".value_counts ()"** cuenta el número de valores **"true"**.

In [ ]:
for column in missing_data.columns.values.tolist():
    print(column)
    print (missing_data[column].value_counts())
    print("")

Según el resumen anterior, cada columna tiene 205 filas de datos, siete columnas que contienen datos faltantes:

1. "normalized-losses": 41 missing data
2. "num-of-doors": 2 missing data
3. "bore": 4 missing data
4. "stroke" : 4 missing data
5. "horsepower": 2 missing data
6. "peak-rpm": 2 missing data
7. "price": 4 missing data

<a id="ref3"></a>
## Tratar con datos faltantes
**¿Cómo lidiar con los datos faltantes?**

    
    1. drop data / soltar datos
        a. drop the whole row / soltar toda la fila
        b. drop the whole column / soltar toda la columna
    2. replace data / reemplazar datos
        a. replace it by mean / reemplazarlo por la media
        b. replace it by frequency / reemplazarlo por el mas frecuente
        c. replace it based on other functions / reemplazarlo en función de otras funciones

Las columnas enteras solo deben descartarse si la mayoría de las entradas de la columna están vacías. En nuestro conjunto de datos, ninguna de las columnas está lo suficientemente vacía como para soltarla por completo.
Tenemos cierta libertad para elegir qué método reemplazar datos; sin embargo, algunos métodos pueden parecer más razonables que otros. Aplicaremos cada método a muchas columnas diferentes:

**Replace by mean:**

    "normalized-losses": 41 missing data, replace them with mean
    "stroke": 4 missing data, replace them with mean
    "bore": 4 missing data, replace them with mean
    "horsepower": 2 missing data, replace them with mean
    "peak-rpm": 2 missing data, replace them with mean
    
**Replace by frequency:**

    "num-of-doors": 2 missing data, replace them with "four". 
        * Reason: 84% sedans is four doors. Since four doors is most frequent, it is most likely to 
    

**Drop the whole row:**

    "price": 4 missing data, simply delete the whole row
        * Reason: price is what we want to predict. Any data entry without price data cannot be used for prediction; therefore they are not useful to us

#### Calcule el promedio de la columna.

In [ ]:
avg_1 = df["normalized-losses"].astype("float").mean(axis = 0)

#### Reemplace "NaN" por el valor medio en la columna "normalized-losses" .

In [ ]:
df["normalized-losses"].replace(np.nan, avg_1, inplace = True)

#### Calcule el valor medio para la columna 'bore'

In [ ]:
avg_2=df['bore'].astype('float').mean(axis=0)

#### Reemplazar NaN por valor medio

In [ ]:
df['bore'].replace(np.nan, avg_2, inplace= True)

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #1: </h1>

<b>Según el ejemplo anterior, reemplace NaN en la columna "stroke" por el medio.</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #1 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

  <div align="right">
<a href="#q1" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q1" class="collapse">
```
# calculate the mean vaule for "stroke" column
avg_3 = df["stroke"].astype("float").mean(axis = 0)

# replace NaN by mean value in "stroke" column
df["stroke"].replace(np.nan, avg_3, inplace = True)
```
</div>

#### Calcule el valor medio para la columna 'horsepower':

In [ ]:
avg_4=df['horsepower'].astype('float').mean(axis=0)

#### Reemplace "NaN" por el valor medio:

In [ ]:
df['horsepower'].replace(np.nan, avg_4, inplace= True)

#### Calcule el valor medio para la columna 'peak-rpm':

In [ ]:
avg_5=df['peak-rpm'].astype('float').mean(axis=0)

#### Reemplace NaN por el valor medio:

In [ ]:
df['peak-rpm'].replace(np.nan, avg_5, inplace= True)

Para ver qué valores están presentes en una columna en particular, podemos usar el método "**.value_counts ()**":

In [ ]:
df['num-of-doors'].value_counts()

Podemos ver que cuatro puertas son el tipo más común. También podemos usar el método "**.idxmax ()**" para calcular automáticamente el tipo más común:

In [ ]:
df['num-of-doors'].value_counts().idxmax()

El procedimiento de reemplazo es muy similar al que hemos visto anteriormente.

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent 
df["num-of-doors"].replace(np.nan, "four", inplace = True)

Finalmente, eliminemos todas las filas que no tienen datos de precios:

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace = True)

# reset index, because we droped two rows
df.reset_index(drop = True, inplace = True)

In [ ]:
df.head()

** ¡Bien! ** Ahora, obtenemos el conjunto de datos sin valores faltantes.

<a id="ref4"></a>
## Formato de datos correcto
**Estamos casi alli!**
<div>El último paso en la limpieza de datos es verificar y asegurarse de que todos los datos estén en el formato correcto (int, float, text u otro).</div>

In Pandas, we use 
<div>**.dtype()** para verificar el tipo de datos</div>
<div>**.astype()** para cambiar el tipo de datos</div>

#### Enumeremos los tipos de datos para cada columna.

In [ ]:
df.dtypes

Como podemos ver arriba, algunas columnas no son del tipo de datos correcto. Las variables numéricas deben tener el tipo **'float'** o **'int'**, y las variables con cadenas como las categorías deben tener el tipo **'object'**. Por ejemplo, las variables **'bore'** y **'stroke'** son valores numéricos que describen los motores **(engines)**, por lo que deberíamos esperar que sean del tipo **'float'** o **'int'**; sin embargo, se muestran como tipo 'object'. Tenemos que convertir los tipos de datos en un formato adecuado para cada columna utilizando el método "astype ()".

#### Convierta los tipos de datos al formato adecuado

In [ ]:

df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses"]] = df[["normalized-losses"]].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")
print("Done")

#### Hagamos una lista de las columnas después de la conversión.

In [ ]:
df.dtypes

**¡Maravilloso!**

Ahora, finalmente obtenemos el conjunto de datos limpios sin valores faltantes y todos los datos en su formato adecuado.

<a id="ref5"></a>
# Estandarización de datos
Los datos generalmente se recopilan de diferentes agencias con diferentes formatos.
(La estandarización de datos también es un término para un tipo particular de normalización de datos, donde restamos la media y la dividimos por la desviación estándar)

**¿Qué es la estandarización?**
<div>La estandarización es el proceso de transformación de datos en un formato común que permite al investigador hacer una comparación significativa.
</div>

**Ejemplo**
<div>Transformar mpg to L/100km:</div>
<div>En nuestro conjunto de datos, las columnas de consumo de combustible **FUEL**. **"city-mpg"** y **"highway-mpg"** Están representadas por mpg (miles per gallon) unidad. Supongamos que estamos desarrollando una aplicación en un país que acepta el consumo de combustible **(FUEL)** con el estándar L / 100km</div>
<div>¿Necesitaremos aplicar **transformación de datos** para transformar mpg en L / 100km?</div>

La fórmula para la conversión de unidades es
**L/100km = 235 / mpg**
<div>Podemos hacer muchas operaciones matemáticas directamente en Pandas.</div>

In [ ]:
df.head()

In [ ]:
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df['city-L/100km'] = 235/df["city-mpg"]

# check your transformed data 
df.head()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #2: </h1>

<b>According to the example above, transform mpg to L/100km in the column of "highway-mpg", and change the name of column to "highway-L/100km".</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #2 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

 <div align="right">
<a href="#q2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q2" class="collapse">
```
# transform mpg to L/100km by mathematical operation (235 divided by mpg)
df["highway-mpg"] = 235/df["highway-mpg"]

# rename column name from "highway-mpg" to "highway-L/100km"
df.rename(columns={'"highway-mpg"':'highway-L/100km'}, inplace=True)

# check your transformed data 
df.head()
```
</div>

<a id="ref6"></a>
# Normalización de datos 

**¿Por qué la normalización?**
<div>La normalización es el proceso de transformar valores de varias variables en un rango similar. Las normalizaciones típicas incluyen escalar la variable para que el promedio de la variable sea 0, escalar la variable para que la varianza de la variable sea 1 o escalar la variable para que los valores de la variable varíen de 0 a 1
 </div>

**Ejemplo**
<div>Para demostrar la normalización, digamos que queremos escalar las columnas **"length"**, **"width"** y **"height"** </div>
<div>**Objetivo:** nos gustaría Normalizar esas variables para que su valor varíe de 0 a 1.</div>
<div>**Enfoque:** reemplazar el valor original por **(valor original) / (valor máximo)**</div>

In [ ]:
# replace (origianl value) by (original value)/(maximum value)
df['length'] = df['length']/df['length'].max()
df['width'] = df['width']/df['width'].max()

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Questiont #3: </h1>

<b>According to the example above, normalize the column "height".</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #3 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

<div align="right">
<a href="#q3" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q3" class="collapse">
```
df['height'] = df['height']/df['height'].max() 
# show the scaled columns
df[["length","width","height"]].head()

```
</div>

Here we can see, we've normalized "length", "width" and "height" in the range of [0,1].

<a id="ref7"> </a>
# Binning
** ¿Por qué binning? **
<div> Binning es un proceso de transformación de variables numéricas continuas en 'contenedores'**(bins)** categóricos discretos, para análisis agrupados.
  </div>

**Ejemplo:**
<div> En nuestro conjunto de datos, **"horsepower"** es una variable de valor real que varía de 48 a 288, tiene 57 valores únicos. ¿Qué sucede si solo nos importa la diferencia de precio entre los automóviles con alta potencia, potencia media y poca potencia (3 tipos)? ¿Podemos reorganizarlos en tres 'contenedores' para simplificar el análisis? </div>

<div> Utilizaremos el método Pandas **'cut'** para segmentar la columna **'horsepower'** en 3 contenedores <div>
Enviar comentarios

## Ejemplo de binning de datos en pandas

 Convertir datos al formato correcto

In [ ]:
df["horsepower"]=df["horsepower"].astype(float, copy=True)

Nos gustaría cuatro bins de ancho de banda de igual tamaño, el cuarto es porque la función "cut" incluye el borde más a la derecha:

In [ ]:
binwidth = (max(df["horsepower"])-min(df["horsepower"]))/4

Construimos una matriz bin, con un valor mínimo a un valor máximo, con el ancho de banda calculado anteriormente. Los contenedores serán valores utilizados para determinar cuándo termina un contenedor y comienza otro.

In [ ]:
bins = np.arange(min(df["horsepower"]), max(df["horsepower"]), binwidth)
bins

Establecemos nombres de grupo:

In [ ]:
group_names = ['Low', 'Medium', 'High']

 Aplicamos la función "cut" para determinar a qué pertenece cada valor de "df ['horsepower']".

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names,include_lowest=True )
df[['horsepower','horsepower-binned']].head(20)

Verifique cuidadosamente el marco de datos anterior, encontrará que la última columna proporciona los contenedores para "horsepower" con 3 categories ("Low","Medium" and "High"). 
<div>¡Hemos reducido con éxito los intervalos de 57 a 3!</div>

## Visualización de BINS **contenedores**


Normalmente, se usa un histograma para visualizar la distribución de los contenedores que creamos anteriormente.

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot

a = (0,1,2)

# draw historgram of attribute "horsepower" with bins = 3
plt.pyplot.hist(df["horsepower"], bins = 3)

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

La gráfica de arriba muestra el resultado del binning para el atributo "horsepower".

<a id="ref8"></a>
# Indicator variable (or dummy variable)
# Indicador variable (o variable ficticia)
**¿Qué es una variable indicadora?**
<div>Una variable indicadora (o variable ficticia) es una variable numérica utilizada para etiquetar categorías. Se llaman 'dummies' porque los números en sí mismos no tienen un significado inherente. </div>

**¿Por qué usamos variables indicadoras?**
<div>Entonces podemos usar variables categóricas para el análisis de regresión en los módulos posteriores.</div>

**Ejemplo**
<div>Nosotras vemos a la columna "fuel-type" tiene dos valores únicos, "gas" o "diesel". La regresión no entiende palabras, solo números. Para usar este atributo en el análisis de regresión, convertimos "fuel-type" en variables indicadoras.</div>

<div>Utilizaremos el método de panda 'get_dummies' para asignar valores numéricos a diferentes categorías de fuel type. <div>

In [ ]:
df.columns

 obtener variables indicadoras y asignarlas al marco de datos **(data frame)** "dummy_variable_1"

In [ ]:
dummy_variable_1 = pd.get_dummies(df["fuel-type"])
dummy_variable_1.head()

cambiar los nombres de las columnas para mayor claridad

In [ ]:
dummy_variable_1.rename(columns={'fuel-type-diesel':'gas', 'fuel-type-diesel':'diesel'}, inplace=True)
dummy_variable_1.head()

Ahora tenemos el valor 0 para representar "gas" y 1 para representar "diesel" en la columna "fuel-type". Ahora volveremos a insertar esta columna en nuestro conjunto de datos original.

In [ ]:
# merge data frame "df" and "dummy_variable_1" 
df = pd.concat([df, dummy_variable_1], axis=1)

# drop original column "fuel-type" from "df"
df.drop("fuel-type", axis = 1, inplace=True)

In [ ]:
df.head()

Las dos últimas columnas son ahora la representación de la variable indicadora de la variable de fuel-type. Ahora son todos 0 y 1.

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #4: </h1>

<b>As above, create indicator variable to the column of "aspiration": "std" to 0, while "turbo" to 1.</b>
</div>

<div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #4 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

<div align="right">
<a href="#q4" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q4" class="collapse">
```
# get indicator variables of aspiration and assign it to data frame "dummy_variable_2"
dummy_variable_2 = pd.get_dummies(df['aspiration'])

# change column names for clarity
dummy_variable_2.rename(columns={'std':'aspiration-std', 'turbo': 'aspiration-turbo'}, inplace=True)

# show first 5 instances of data frame "dummy_variable_1"
dummy_variable_2.head()
```
</div>

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question  #5: </h1>

<b>Merge the new dataframe to the original dataframe then drop the column 'aspiration'</b>
</div>

 <div class="alert alert-danger alertdanger" style="margin-top: 20px">
<h1> Question #5 Answer: </h1>
<b>Run the code below! Did you get the right code?</b>
</div>

 <div align="right">
<a href="#q5" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q5" class="collapse">
```
#merge the new dataframe to the original datafram
df = pd.concat([df, dummy_variable_2], axis=1)

# drop original column "aspiration" from "df"
df.drop('aspiration', axis = 1, inplace=True)
```
</div>

 save the new csv

In [ ]:
df.to_csv('clean_df.csv')

# About the Authors:  

This notebook written by [Mahdi Noorian PhD](https://www.linkedin.com/in/mahdi-noorian-58219234/) ,[Joseph Santarcangelo PhD]( https://www.linkedin.com/in/joseph-s-50398b136/), Bahare Talayian, Eric Xiao, Steven Dong, Parizad , Hima Vsudevan and [Fiorella Wenver](https://www.linkedin.com/in/fiorellawever/).
Copyright &copy; 2017 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).

 <div class="alert alert-block alert-info" style="margin-top: 20px">
 <a href="http://cocl.us/DA0101EN_NotbookLink_bottom"><img src = "https://ibm.box.com/shared/static/cy2mwm7519t4z6dxefjpzgtbpi9p8l7h.png" width = 750, align = "center"></a>
 <h1 align=center><font size = 5> Link</font></h1>